<template>
  <div class="animated fadeIn">
    <b-row>
      <b-col lg="12">
        <b-col sm="6" md="12">
        <b-button type="button" variant="success" @click="novoModal = true" class="mr-1">Criar novo Artigo</b-button>
        <b-modal title="Nova Categoria" size="lg" class="modal-primary" v-model="novoModal" @ok="novoModal = false">
            <FlashMessage></FlashMessage>
            <b-col sm="12">
              <b-form-group>
                <label for="name">Nome</label>
                <b-form-input type="text" id="nome" placeholder="Um titulo para seu blog" v-model="titulo" required></b-form-input>
                <label for="name">Categoria</label>
                <b-form-select class="custom-select" required v-model="categoria_id">
                  <option disabled selected >Selecione...</option>
                  <option v-for="item in categorias" :value="item.id">{{ item.nome }}</option>
                </b-form-select>
                <label for="name">Descrição</label>
                <b-form-input type="text" id="nome" placeholder="Um titulo para seu blog" v-model="descricao" required></b-form-input>
                <hr>
                <textarea class="form-control" id="exampleTextarea" v-model="corpo"></textarea>
              </b-form-group>
              <div slot="footer">
                <b-button size="sm" variant="primary" @click="setArtigo()">Enviar</b-button>
              </div>
          </b-col>
        </b-modal>
        <hr>
        <b-card header="Artigos">
          <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">Titulo</th>
              <th scope="col">Açoes</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="artigo in artigos" :key="artigo.id">
              <td>{{ artigo.titulo }}</td>
              <td width="30%">
                <b-button variant="warning">
                  <i class="fa fa-pencil"></i>&nbsp;Editar
                </b-button>&nbsp;
                <b-button variant="danger">
                  <i class="fa fa-close"></i>&nbsp;Deletar
                </b-button>
              </td>
            </tr>
          </tbody>
        </table>
        </b-card>
      </b-col>
      </b-col>
    </b-row>
  </div>

</template>

<script>
import axios from 'axios'
export default {
  name: 'categorias',
  data: () => {
    return {
      nome: '',
      categoria_id:'',
      descricao:'',
      artigos:[],
      categorias: [],
      novoModal: false,
      showDismissibleAlert: false
    }
  },
  methods: {
    limpaCampos() {
      this.nome = '';
    },
    showAlert() {
        this.dismissCountDown = this.dismissSecs
    },
    getArtigos(){
      axios.get('http://localhost:8000/api/artigos')
      .then(response => (this.artigos = response.data))
    },
    getCategorias(){
      axios.get('http://localhost:8000/api/categorias')
      .then(response => (this.categorias = response.data))
    },
    setArtigo(){
                let urlCategoria = 'http://localhost:8000/api/artigos'
                                    + '?nome=' + this.nome
                                    + '&categoria_id=' + this.categoria_id
                                    + '&descricao=' + this.descricao
                                    + '&corpo=' + this.corpo;
                console.log(urlCategoria);
                axios.post(urlCategoria).then(({ data }) => {
                  console.log(data);
                      if(data.success){
                        this.limpaCampos();
                        this.flashMessage.success({
                               title: 'Opa!',
                               message: data.data,
                               time: 5000
                           });
                       } else {
                           this.flashMessage.error({title: 'Atenção' || 'Error', message: data.error_messages});
                           console.log(data);
                       }
                   }).catch(error => {
                   this.flashMessage.error({title: 'Error', message: error.message});
               })
            }
    },
  mounted () {
    this.getArtigos();
    this.getCategorias();
  }
}
</script>
