<template>
  <div class="animated fadeIn">
    <b-row>
      <b-col lg="12">
        <b-col sm="6" md="12">
        <b-button type="button" variant="success" @click="novoModal = true" class="mr-1">Criar nova Categoria</b-button>
        <b-modal title="Novo Artigo" class="modal-primary" v-model="novoModal" @ok="novoModal = false">
            <FlashMessage></FlashMessage>
            <b-col sm="12">
              <b-form-group>
                <label for="name">Nome</label>
                <b-form-input type="text" id="nome" placeholder="Nome da categoria" v-model="nome" required></b-form-input>
              </b-form-group>
              <div slot="footer">
                <b-button size="sm" variant="primary" @click="setCategoria()">Enviar</b-button>
              </div>
          </b-col>
        </b-modal>
        <hr>
        <b-card header="Categorias">
          <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">Titulo</th>
              <th scope="col">Açoes</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="categoria in categorias" :key="categoria.id">
              <td>{{ categoria.nome }}</td>
              <td width="30%">
                <b-button variant="warning">
                  <i class="fa fa-lightbulb-o"></i>&nbsp;Editar
                </b-button>&nbsp;
                <b-button variant="danger">
                  <i class="fa fa-lightbulb-o"></i>&nbsp;Deletar
                </b-button>
              </td>
            </tr>
          </tbody>
        </table>
        </b-card>
      </b-col>
      </b-col>
    </b-row>
  </div>

</template>

<script>
import axios from 'axios'
export default {
  name: 'categorias',
  data: () => {
    return {
      nome: '',
      categorias:[],
      novoModal: false,
      showDismissibleAlert: false
    }
  },
  methods: {
    limpaCampos() {
      this.nome = '';
    },
    showAlert() {
        this.dismissCountDown = this.dismissSecs
    },
    getCategorias(){
      axios.get('http://localhost:8000/api/categorias')
      .then(response => (this.categorias = response.data))
    },
    setCategoria(){
                let urlCategoria = 'http://localhost:8000/api/categorias'
                                    + '?nome=' + this.nome;
                console.log(urlCategoria);
                axios.post(urlCategoria).then(({ data }) => {
                  console.log(data);
                      if(data.success){
                        this.limpaCampos();
                        this.flashMessage.success({
                               title: 'Opa!',
                               message: data.data,
                               time: 5000
                           });
                       } else {
                           this.flashMessage.error({title: 'Atenção' || 'Error', message: data.error_messages});
                           console.log(data);
                       }
                   }).catch(error => {
                   this.flashMessage.error({title: 'Error', message: error.message});
               })
            }
    },
  mounted () {
    this.getCategorias();
  }
}
</script>
